asgiref==3.11.1
dj-database-url>=3.0,<4.0
Django==6.0.4
djangorestframework==3.17.1
gunicorn>=23.0,<24.0
openpyxl==3.1.5
psycopg[binary]>=3.2,<4.0
reportlab==5.0.0
sqlparse==0.5.5
tzdata==2026.1
whitenoise[brotli]>=6.9,<7.0
python-dotenv>=1.0,<2.0