{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dashboard 
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'expenses/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="expenses-container">
        <div class="head">
            <div class="text">
                <h2>Overview</h2>
                <h3>Your spending companion.</h3>
            </div>
            <button class="btn-add" title="Add Expense">+ Add Expense</button>
        </div>
        <div class="statistics">
            <div class="stat">
                <div class="stat-label">This Month</div>
                <div class="stat-value">${{ current_month_total }}</div>
                <div class="stat-more">${{ monthly_spending_diff }} vs last month</div> 
            </div>
            <div class="stat">
                <div class="stat-label">Budget remaining:</div>
                <div class="stat-value">${{ budget_remaining }}</div>
                <div class="stat-more">{{ budget_used }}% of budget used</div> 
            </div>
            <div class="stat">
                <div class="stat-label">Last Month</div>
                <div class="stat-value">${{ previous_month_total }}</div>
                <div class="stat-more">{{ spending_change_percent }}% vs prior month</div> 
            </div>
            <div class="stat">
                <div class="stat-label">Transactions:</div>
                <div class="stat-value">{{ expenses|length }}</div>
                <div class="this-month">This month</div> 
            </div>
        </div>
        <section>
            <div class="category-breakdown">
                <h3>Category Breakdown</h3>
                <div class="categorys">
                    {% for category in categorys %}
                        <div class="category">
                            <div class="left-side">
                                <span class="point" style="background-color: {{ category.color }}"></span>
                                <span class="category-name" style="color: {{ category.color }};">{{ category.name }}</span>
                            </div>
                            <div class="right-side">
                                <span class="progress-container">
                                    <span class="progress-bar" style="background-color: {{ category.color }}; width: {{ category.ratio }}%;"></span>
                                </span>
                                <span class="ratio">{{ category.ratio | floatformat:1 }}%</span> 
                                <span class="total-category">${{ category.amount | floatformat:2 }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="recent-transactions">
                <div class="header">
                    <h3>Recent Expenses</h3>
                    <button class="btn-view-all">View All</button>
                </div>
                <div class="expenses">
                    {% for expense in expenses %}
                        <div class="expense">
                            <div class="left-side">
                                <span class="point" style="background-color: {{ expense.category_color}}"></span>
                                <div class="data">
                                    <span class="description">{{ expense.description }}</span>
                                    <div class="details">
                                        <span class="category">{{ expense.category_name }},</span>
                                        <span class="date">
                                            {% if expense.date == today %} 
                                                <span class="today-label">Today</span> 
                                            {% else %} 
                                                {{ expense.date }} 
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="right-side">${{ expense.amount|floatformat:2}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
