{% extends 'base.html' %}
{% load static %}
{% block title %}
    Edit Category
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'expenses/css/edi-category.css' %}">
{% endblock %}

{% block content %}
<div class="category-container">
    <h2>Edit Category</h2>
    <div class="category">
        <form action="">
            <div class="group-input">
                <label for="name">Name<span class="star">*</span></label>
                <input id="name" type="text" placeholder="">
            </div>
            <div class="group-input">
                <label for="color">Color<span class="star">*</span></label>
                <input id="color" type="color" placeholder="">
            </div>
            <div class="buttons">
                <button class="btn-save" type="submit">Save Changes</button>
                <button class="btn-cancel" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
