{% extends 'base.html' %}
{% load static %}
{% block title %}
    Expenses
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'expenses/css/expenses.css' %}">
{% endblock %}

{% block content %}
<div class="expenses-container">
    <div class="head">
        <div class="text">
            <h2 class="title">Expenses</h2>
            <h3 class="subtitle">Total: $<span class="total">{{ total_spent }}</span></h3>
        </div>
        <button class="btn-add">+ Add Expense</button>
    </div>
    <div class="expenses">
        <div class="filter-wrapper">
            <form action="{% url 'expenses' %}" method="POST">
                <div class="group-input">
                    <label for="date">Month</label>
                    <input id="date" class="date" type="date">
                </div>
                <div class="group-input">
                    <label for="categories">Categories</label>
                    <select id="categories">
                        <option>All categories</option>
                        {% for expense in expenses %}
                            <option>{{ expense.category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="buttons">
                    <button class="btn-filter">Filter</button>
                    <button class="btn-clear">Clear</button>
                </div>
            </form>
        </div>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>description</th>
                        <th>category</th>
                        <th>date</th>
                        <th>amount</th>
                        <th class="actions">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                        <tr>
                            <td class="td-description">{{ expense.description }}</td>
                            <td class="td-name">
                                <span style="background-color: {{ expense.category.color }}33; color: {{ expense.category.color }}; border-color: {{ expense.category.color }}">{{ expense.category.name }}</span>
                            </td>
                            <td class="td-date">{{ expense.date }}</td>
                            <td class="td-amount">${{ expense.amount }}</td>
                            <td class="td-buttons">
                                <button class="btn-edit">Edit</button>
                                <button class="btn-delete">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
